extends layout

block content
	div(class="header")
		input(type="button",onclick="run()",value="Run")		
	div(class="container")
		div(class="left")
			textarea(id="input",class="textarea")
		div(class="right")
			textarea(id="output",class="textarea")
		div(style="clear:both")

